[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.login {
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login a {
  cursor: pointer;
}

.tracks {
  margin-bottom: 200px;
}

.track-odd {
  background-color: #F7F9FA;
}

.track img {
  width: 55px;
}

.track-details {
  display: flex;
  height: 55px;
  cursor: pointer;
}

.track-artwork {
  float: left;
  position: relative;
}

.track-artwork-overlay {
  background-color: #f83600;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.track-artwork-overlay i {

  margin-top: 20px;
  margin-left: 20px;
  font-size: 24px;
  color: white;
  z-index: 1;
}

.track-playing .track-artwork img {
  opacity: 0.5;
}

.track-title {
  padding: 6px 10px;
  width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.track-title .user {
  font-weight: 100;
  font-size: 13px;
  color: #727a79;
}

.track-title .title {
  font-size: 14px;
}

.player {
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(135deg, #2BC0E4, #EAECC6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.player span.current-track-title {
  color: white;
  background-color: black;
  padding: 5px 5px;
  margin-top: 2px;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  clear: left;
  max-width: 380px;
}

.current-track {
  padding: 5px 5px 0px 5px;
}

.controls-wrapper {
  background-color: white;
  padding: 10px 35%;
}

.controls {
  display: flex;
  justify-content: space-between;
  color: grey;
  width: 100%;
  align-self: flex-end;
  background-color: white;
  font-size: 22px;
}

.control-item {
  font-size: 20px;
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.control-item .control-main {
  font-size: 30px;
  line-height: 20px;
}

.controls i {
  cursor: pointer;
}

div[waveform] {
  padding: 10px;
  cursor: pointer;
}

.track-duration {
  padding: 0 5px;
}

.track-duration span {
  background-color: black;
  color: #2BC0E4;
  padding: 3px;
  font-size: 12px;
}

.track-duration .time-elapsed {
  float: left
}

.track-duration .time-total {
  float: right
}